.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar(data-target=".nav-collapse" data-toggle="collapse")
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
        %a.brand{href: root_path}
          = App::NAME
          %span.label.label-info alpha

        %ul.nav
          %li= link_to "Decks", decks_path

        = render partial: 'home/login'
