#prompt.row
  button, a.btn
    width: 100%
  #line
    font-size: 30px

#new_card
  // input[type=submit]
    width: 100%
  .char
    font-size: 30px

  .accordion a.accordion-toggle
    font-size: 30px

  .use-entry i.icon-check
    display: none
  .use-entry i.icon-unchecked
    display: inline
  .use-entry.active i.icon-unchecked
    display: none
  .use-entry.active i.icon-check
    display: inline

  .accordion
    button.use-entry, span.chars
      display: inline
